<RadzenCard class="m-4 m-auto px-4" Style="width: 70%">
    <h1>@CompTitle</h1>
    <EditForm Model="@Food" OnValidSubmit="@SubmitForm">
        <DataAnnotationsValidator/>

        <div class="form-group row">
            <label for="firstname" class="col-sm-3">Megnevezése</label>
            <div class="col-sm-6">
                <InputText id="name" class="form-control" @bind-Value="@Food.Name" placeholder="Étel megnevezése"></InputText>
                <ValidationMessage For="() => Food.Name"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="lastname" class="col-sm-3">Leírás</label>
            <div class="col-sm-6">
                <InputText id="description" class="form-control" @bind-Value="@Food.Description" placeholder="Étel leírása"></InputText>
                <ValidationMessage For="() => Food.Description"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="carmodel" class="col-sm-3">Típusa (ez helyett dropdown kell)</label>
            <div class="col-sm-6">
                <InputSelect @bind-Value="Food.FoodTypeId" class="form-control">
                    @foreach (var type in @FoodTypes)
                        {
                        <option value="@type.Id">@type.Name</option>
                        }
                </InputSelect>  
                <ValidationMessage For="() => Food.FoodTypeId"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="plate_number" class="col-sm-3">Ár (Forintban)</label>
            <div class="col-sm-6">
                <RadzenNumeric Placeholder="1500" @bind-Value="@Food.Price" />
                <ValidationMessage For="() => Food.Price"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="image" class="col-sm-3">Kép</label>
            <div class="col-sm-6">
                <RadzenUpload Multiple="false" Accept="image/*" Url="wwwroot/images" Progress=@(args => OnProgress(args)) Class="w-100" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary">@ButtonTitle</button>
    </EditForm>
</RadzenCard>